{{ attach_library('specbee_assignment/specbee_assignment') }}
<div class="date-time-localtion">
	<h2 class="time">{{time}}</h2>
	<div class="date"><strong>{{date}}</strong></div>
	<div class="location"><strong>{{'Time in '|t ~ location}}</strong></div>
</div>
